.comand-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.comand-list {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
  }
}

.comand-list__content {
  margin-bottom: 30px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin-botom: 30px;
    margin-right: 30px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 4 * 30px) / 4);

    margin-right: 30px;
  }
}

.comand__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-text);
  margin-bottom: 30px;

  @media screen and (min-width: 1200px) {
    @include fonttitle();
    margin-bottom: 50px;
    color: var(--title-color-text);
  }
}

.comand-list__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color-text);
  padding-top: 30px;
  padding-bottom: 10px;
}

.comand-list__discription {
  text-align: center;
  padding-bottom: 16px;
}
