.header {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;

  background-color: #ffffff;
  // height: 80px;
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.burger-btn-icon {
  width: 40px;
  height: 40px;
}

//навигация по сайту

.header-nav {
  display: flex;
  align-items: center;
  margin-left: 88px;
  margin-right: 84px;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header-nav li {
  margin-right: 50px;
}

.header-nav li:last-child {
  margin-right: 0px;
}

.header-nav a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 34px;
  padding-bottom: 34px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  color: var(--title-color-text);
}

.header-nav a:hover,
.header-nav a:focus {
  outline: none;
  color: var(--action-color);
}

.header-nav__item--current a {
  color: var(--action-color);
}

.header-nav__item--current::after {
  content: '';
  width: 100%;
  height: 4px;
  display: block;
  background-color: var(--action-color);
  border-radius: 2px;
}

.header-contact {
  display: flex;
  flex-wrap: wrap;

  margin-left: auto;
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.header-contact li {
  margin-right: 50px;
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}
.site-contact li:last-child {
  margin-right: 0px;
}

.header-contact a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--main-color-rext);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contact a:hover,
.header-contact a:focus {
  outline: none;
  color: var(--action-color);
}

.icon-contact {
  margin-right: 10px;
  fill: #757575;
}

.header-contact__items:hover .icon-contact,
.header-contact a:focus .icon-contact {
  fill: var(--action-color);
}
