.none-title {
  display: none;
}
.peculiarities-block__tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--title-color-text);
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.icon-block__svg {
  width: 70px;
  height: 70px;
}

.icon-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

.peculiarities-block {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.peculiarities-section {
  padding-bottom: 60px;
  padding-top: 60px;
}

.peculiarities-block__content {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 8 * 15px) / 4);
    margin: 15px;
  }
  // width: 270px;
  // margin-right: 30px;
  // &:last-child {
  //   margin-right: 0px;
  // }
}
