.do-section {
  padding-bottom: 94px;

  @media screen and (max-width: 1199px) {
    display: none;
  }
}

.do-container__title {
  @include fonttitle();
  margin-bottom: 50px;
  color: var(--title-color-text);
}

.do-container__list {
  display: flex;
  margin-right: -30px;
}

.do-container__content {
  margin-right: 30px;
  flex-basis: calc(100% / 3 - 30px);
}

.block-over {
  position: relative;
}

.block-over__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}
