.modal {
  width: 100vw;
  height: 100vh;

  background-color: #ffffff;
  position: fixed;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;

  padding: 40px;
  transform: translate(-50%, -50%);

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 480px) {
    width: 450px;
    height: 100vh;
  }

  @media screen and (min-width: 1200px) {
    width: 528px;
    min-height: 581px;
  }
}

.modal-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: white;

  &:hover .modal-close-icon,
  &:focus .modal-close-icon {
    fill: var(--action-color);
  }
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}
.backdrop.is-hidden .modal {
  transform: rotate(180deg);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
