.form-modal {
  display: flex;
  flex-direction: column;
}

.head-form {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
  word-wrap: break-all;
}

.modal-form-input {
  width: 100%;
  height: 40px;

  padding-left: 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--action-color);
  }

  &:focus + .input-icon {
    fill: var(--action-color);
  }
}

.modal-form-wraper {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-coment {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.textarea-coment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-bottom: 20px;

  &::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;

  &::before {
    display: block;
    content: '';
    height: 15px;
    width: 16px;
    border: 2px solid #212121;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.modal-form-btn {
  align-self: center;
  padding: 10px 55px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: white;
  background-color: var(--action-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  margin-top: 30px;
}

.input-form-checkbox:checked + .form-checkbox::before {
  background-color: var(--action-color);
  background-image: url(../images/check1.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-origin: border-box;
  border-color: var(--action-color);
}

.check-police {
  text-decoration: underline;
  color: var(--action-color);
}

.checkbox-span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
