.social-list__link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--action-color);
  }

  &:hover .social-list__icon,
  &:focus .social-list__icon {
    fill: white;
  }
}

.social-list {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}

.social-list__icon {
  height: 20px;
  width: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;

  &:last-child {
    margin-right: 0px;
  }
}
