p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  background-color: white;
  color: var(--main-color-rext);
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}
